<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513116430773-dmgnmrka3cjgalljpaimbtikkmbmps89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513116430773-dmgnmrka3cjgalljpaimbtikkmbmps89</string>
	<key>API_KEY</key>
	<string>AIzaSyDBuJLnUPWt6LEW4KUXfEEtr3pWyetemyk</string>
	<key>GCM_SENDER_ID</key>
	<string>513116430773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.syntax-institut.GolfAppMuster</string>
	<key>PROJECT_ID</key>
	<string>golfappkarnitzid</string>
	<key>STORAGE_BUCKET</key>
	<string>golfappkarnitzid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513116430773:ios:0750b03edd29871dbbb9fc</string>
	<key>DATABASE_URL</key>
	<string>https://golfappkarnitzid-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>